/* Remove default margin and padding */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}
