PG_BUILD_CONCURRENCY=16
PG_CLIENT_PORT=3000
PG_CLIENT_URLS=http://localhost,https://beta.solpg.io
PG_DB_MAX_CONNECTIONS=10
PG_DB_NAME=solpg
PG_DB_URI=postgresql://postgres:postgres@db:5432/solpg
PG_PAYLOAD_LIMIT=1048576
PG_PORT=8080
PG_SERVER=true
PG_VERBOSE=false
RUST_LOG=error
